@import "../../node_modules/normalize.css/normalize";

$light-gray: #EEEEEE;

body {
  height: 100%;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content {
  min-height: calc(100vh - 128px);
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

body {
  background-color: white;
}

.header {
  background-color: $light-gray;
}

.navigation {
  max-width: 1024px;
  margin: 0 auto;
}

.navigation ul {
  margin: 0;
  padding: 0;
  float: left;
}

.navigation li {
  font-weight: 600;
  float: left;
  height: 64px;
  list-style: none;
  margin-right: 30px;
  a {
    line-height: 66px;
    display: block;
    color: black;
    text-decoration: none;
    height: 64px;
    opacity: 0.66;
    &.active {
      opacity: 1;
      border-bottom: 2px solid black;
    }
  }
}

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  & p:first-of-type {
    margin-top: 0;
  }
}

.header-logo {
  float: left;
  height: 64px;
  width: 157px;
  background: url("../images/header-logo.svg");
  background-repeat: no-repeat;
}

footer {
  height: 64px;
  background-color: $light-gray;
}

.footer-inner {
  width: 1024px;
  margin: 0 auto;
  padding-left: 20px;
  line-height: 64px;
  opacity: 0.66;
}

.image-wrapper {
  background-color: black;
}

.image {
  height: 240px;
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.image-darken {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.image-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 40px;
  color: white;
  h1 {
    margin-top: 16px;
    margin-bottom: 0;
  }
  p {
    opacity: 0.9;
  }
}
